.home {
    min-height: 100vh;
    background: #fafafa;
}

.home h1 {
    font-size: 30px;
}

.home-image {
    position: absolute;
    transform: translate(-50%, -50%);
}

.intro-section {
    box-sizing: border-box;
    padding: 70px 20px;
}

.intro-blurb {
    margin-bottom: 25px;
}

.book-with-us {
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
}

.intro-section button, .portfolio-quote button, .schedule-appointment-section button {
    height: 50px;
    width: 110px;
    margin-top: 20px;
    background: transparent;
    font-size: 12px;
    color: #FF6400;
    border: 2px solid #FF6400;
    font-weight: bold;
    transition: 200ms;
    cursor: pointer;
}

.intro-section button:hover, .portfolio-quote button:hover, .schedule-appointment-section button:hover {
    background: #FF6400;
    color: white;
}

.our-work-image {
    position: absolute;
    transform: translate(-50%, -50%);
}

.our-work-section {
    padding: 70px 20px;
}

.our-work-flex {
    box-sizing: border-box;
    margin-top: 50px;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #FF6400;
    border-bottom: 1px solid #FF6400;
}

.our-work-flex img {
    height: 42vw;
    width: 42vw;
    margin: 10px 0;
}

.portfolio-quote {
    box-sizing: border-box;
    padding: 20px 0 50px 0;
    border-bottom: 1px solid #FF6400;
}

.author {
    margin-bottom: 50px;
}

.box-underline {
    margin-top: 40px;
    border-bottom: 1px solid #FF6400;
}

.about-us-section h5 {
    margin: 20px 0;
}

.ending-image {
    height: 60vw;
    width: calc(100% - 40px);
    margin: 50px auto;
    background-image: url('../../assets/images/pkmk-filler-7.jpg');
    background-size: cover;
}

@media(min-width: 451px){
    .our-work-flex img {
        height: 44vw;
        width: 44vw;
    }
}

@media(min-width: 641px){
    .intro-section, .our-work-section {
        padding: 70px 50px;
    }

    .our-work-flex img {
        height: 20vw;
        width: 20vw;
    }

    .ending-image {
        width: calc(100vw - 100px);
    }
}

@media(min-width: 761px){
    .intro-section, .our-work-section {
        padding: 70px;
    }

    .ending-image {
        width: calc(100vw - 140px);
        margin: 0 auto 75px auto;
    }
}

@media(min-width: 901px){
    .intro-section {
        padding: 70px 20px;
        display: flex;
        justify-content: space-around;
    }

    .intro-section-flex-one {
        width: 60%;
    }

    .intro-section-flex-one h1 {
        margin: 0 0 30px 0;
        line-height: 30px;
    }

    .intro-section-flex-two {
        width: 30%;
    }

    .our-work-desktop-flex {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .our-work-flex {
        width: 65%;
    }

    .our-work-flex img {
        height: 17vw;
        width: 17vw;
    }

    .about-us-desktop-flex {
        width: 30%;
    }
}

@media(min-width: 1101px){
    .intro-section, .our-work-section {
        padding: 70px 100px;
    }

    .our-work-flex {
        width: 55%;
    }

    .our-work-flex img {
        height: 13vw;
        width: 13vw;
    }

    .about-us-desktop-flex {
        width: 40%;
    }

    .ending-image {
        width: calc(100vw - 200px);
    }
}

@media(min-width: 1250px){
    .intro-section {
        width: 1250px;
        margin: 0 auto;
        padding: 70px 50px;
        justify-content: space-between;
    }

    .our-work-section {
        width: 1250px;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 70px 50px;
    }

    .our-work-flex img {
        height: 140px;
        width: 140px;
    }

    .ending-image {
        height: 80vh;
        width: 1150px;
    }
}