.main-header {
    height: 57px;
    box-sizing: border-box;
    padding: 8px;
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header h1 {
    font-size: 28px;
}