.main-header {
    height: 57px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background: #fafafa;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header h1 {
    font-size: 24px;
}

.main-menu {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 35px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background: #262626;
}

.desktop-menu {
    display: none;
}

.main-links {
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 30px;
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

.open {
    animation-name: menu-open;
    animation-duration: 250ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.closed {
    display: none;
    animation-name: menu-closed;
    animation-duration: 250ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.links-open {
    animation-name: slide-open;
    animation-duration: 250ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

/* .links-closed {
    animation-name: slide-closed;
    animation-duration: 250ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
} */

@keyframes menu-open {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* @keyframes menu-closed {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
} */

@keyframes slide-open {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* @keyframes slide-closed {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
} */

@media(min-width: 641px){
    .main-header {
        height: 75px;
        background: transparent;
    }

    .main-header h1 {
        font-size: 22px;
    }

    .mobile {
        display: none;
    }

    .desktop-menu {
        width: 350px;
        display: flex;
        justify-content: space-between;
    }

    .desktop-menu button {
        height: 35px;
        padding: 0 12px;
        border: none;
        border-radius: 3px;
        font-weight: bold;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 2px;
        color: #262626;
        transition: 300ms;
        cursor: pointer;
    }

    .light-theme:hover {
        opacity: .7;
    }

    .dark-theme {
        background: #646464;
        color: #fafafa;
        opacity: .6
    }

    .dark-theme:hover {
        opacity: 1;
    }
}

@media(min-width: 700px){
    .main-header {
        padding: 30px 20px 0px 20px;
    }

    .main-header h1 {
        font-size: 24px;
    }
}

@media(min-width: 1350px){
    .main-header {
        width: 1350px;
        padding-top: 55px;
        left: 50%;
        margin-left: -675px;
    }

    .main-header h1 {
        font-size: 32px;
    }

    .desktop-menu {
        width: 430px;
    }

    .desktop-menu button {
        height: 40px;
        padding: 10px 20px;
    }
}