.App {
  text-align: left;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

h1 {
  font-weight: bold; 
  font-family: 'Oswald', sans-serif;
  line-height: 1.1em;
}

p {
  color: #646464;
  font-size: 17px;
  font-family: serif;
  line-height: 2em;
  letter-spacing: 1px;
}