.App {
  text-align: left;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

h1 {
  font-weight: bold; 
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.1em;
  margin: 25px 0;
}

h2, h3 {
  font-family: 'Noto Sans', sans-serif;
  line-height: 2em;
  color: #262626;
}

p {
  margin: 20px 0;
  color: #646464;
  font-size: 15px;
  font-family: 'Noto Serif', serif;
  line-height: 2em;
  letter-spacing: 1px;
}

li {
  color: #646464;
  font-size: 18px;
  margin: 25px 0;
}

label {
  color: #646464;
  font-size: 18px;
  font-family: 'Noto Serif', serif;
  margin: 30px 0 12px 0;
}

button:focus {
  outline: none;
}

input, textarea {
  outline: none;
}