.App {
  text-align: left;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  background: #fafafa;
}

h1 {
  font-weight: bold; 
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.1em;
  margin: 25px 0;
}

h2, h3 {
  font-family: 'Noto Sans', sans-serif;
  line-height: 2em;
  color: #262626;
}

h5 {
  font-family: 'Noto Sans', sans-serif;
  color: #646464;
}

p {
  margin: 20px 0;
  color: #646464;
  font-size: 15px;
  font-family: 'Noto Serif', serif;
  line-height: 2em;
  letter-spacing: 1px;
}

li {
  color: #646464;
  font-size: 18px;
  margin: 25px 0;
}

label {
  color: #646464;
  font-size: 18px;
  font-family: 'Noto Serif', serif;
  margin: 30px 0 12px 0;
}

button:focus {
  outline: none;
}

input, textarea {
  outline: none;
}

#loading-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-button {
  height: 50px;
  width: 110px;
  margin-top: 20px;
  background: transparent;
  font-size: 14px;
  color: #FF6400;
  border: 2px solid #FF6400;
  font-weight: bold;
  transition: 200ms;
  cursor: pointer;
}

.main-button:hover {
  background: #FF6400;
  color: white;
}